TextEditor.vcxproj.user
TextEditor.vcxproj.filters
TextEditor.vcxproj
TextEditor.sln
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
*.ipch
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp